<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- <property name="dialect">org.amm.ams.UnicodeSQLServerDialect</property> -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
		<property name="hibernate.show_sql">true</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.connection.autocommit">true</property>
		<property name="hibernate.connection.pool_size">10</property>

		<mapping class="org.amm.ams.domain.Articles" />
		<mapping class="org.amm.ams.domain.ArticlesDef" />
		<mapping class="org.amm.ams.domain.Bookmarks" />
		<mapping class="org.amm.ams.domain.Categories" />
		<mapping class="org.amm.ams.domain.CategoriesDef" />
		<mapping class="org.amm.ams.domain.Comments" />
		<mapping class="org.amm.ams.domain.Languages" />
		<mapping class="org.amm.ams.domain.Roles" />
		<mapping class="org.amm.ams.domain.Tags" />
		<mapping class="org.amm.ams.domain.Users" />
		<mapping class="org.amm.ams.domain.UserGroups" />

	</session-factory>

</hibernate-configuration>